<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="css/jquery.mobile-1.4.3.min.css" media="all" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>
<script type="text/template" id="postListTemplate">
    <h1><%= author  %></h1>
    <li><%= content %></li>
</script>

<script type="text/javascript" src="lib/zepto.js"></script>
<script type="text/javascript" src="lib/underscore.js"></script>
<script type="text/javascript" src="lib/backbone.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/model/PostModel.js"></script>
<script type="text/javascript" src="js/view/PostContainerView.js"></script>
<script type="text/javascript" src="js/view/PostListView.js"></script>
<script type="text/javascript" src="js/view/PostView.js"></script>

</body>
</html>